@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.pages>div{
  display: block;
  animation: fadeOut 0.2s forwards;
}

.pages > div.show {
  display: block;
  animation: fadeIn 0.2s forwards;
}

.pages > div.hide {
  
  display: none;
  opacity: 0;
}

.content{
  margin: 0 auto;
  width: 100vw;
}

.pages{
  min-width: auto;
}

.menu{
    background-color: var(--page-bg-color);
    z-index: 10;
}

/* This is a media query for monitor */
@media only screen and (min-width: 896px) {
  .pages{
    width: fit-content;
    min-width: 896px;
    margin: 0 auto;
  }
}